annotated-types==0.7.0
anyio==4.6.2.post1
appnope
asgiref==3.8.1
asttokens
certifi==2024.8.30
charset-normalizer==3.4.0
comm
debugpy
decorator
distro==1.9.0
Django==5.1.3
django-cors-headers==4.7.0
django-environ==0.11.2
djangorestframework==3.15.2
exceptiongroup
executing
h11==0.14.0
httpcore==1.0.6
httpx==0.27.2
idna==3.10
importlib_metadata
ipykernel
ipython
jedi
jiter==0.7.0
jupyter_client
jupyter_core
matplotlib-inline
nest_asyncio
openai==1.54.3
packaging
parso
pexpect
pickleshare
platformdirs
prompt_toolkit
psutil
ptyprocess
pure_eval
pydantic==2.9.2
pydantic_core==2.23.4
Pygments
python-dateutil
python-dotenv==1.0.1
pyzmq
requests==2.32.3
six
sniffio==1.3.1
sqlparse==0.5.1
stack-data
tornado
tqdm==4.67.0
traitlets
typing_extensions
urllib3==2.6.3
wcwidth
zipp
